/* ギャラリー */
#kiyomizu-autumn-image {
  @apply object-right;
}

#happy-new-year-2025-image {
  @apply object-right;
}

#cairo-image {
  @apply object-right;
}

#calgary-image {
  @apply object-left;
}

#blue-impulse-tsutenkaku-image {
  @apply object-left;
}

#saint-martin-image {
  @apply object-left;
}

#marseille-image {
  @apply object-right;
}

#nagaoka2025-day1-image {
  @apply object-[center_20%];
}

#yodoyabashi-shy-terrace-image {
  @apply object-top;
}

#wakakusayamayaki-image {
  @apply object-[center_5%];
}

#otomatsuri-image {
  @apply object-[70%];
}

#kinkakuji-snow-image {
  @apply object-[center_20%];
}

#amanohashidate-snow-image {
  @apply object-bottom;
}

#toji-light-up-image {
  @apply object-[center_20%];
}

#gallery-contents{
  @apply mx-3;
}

.cards-container {
  @apply relative grid justify-center items-center;
  grid-template-columns: repeat(5, 1fr);
  gap: 12px;
}

.card {
  @apply relative flex justify-center items-center text-black overflow-hidden;
  /* height: 200px; */
  background-color: #eee;
  /* border-radius: 8px; */
  text-decoration: none;
  font-size: 24px;
  font-weight: 500;
  /* max-width: 200px; */
}

.card-title {
  @apply absolute bottom-0 left-0 w-full bg-black/70 text-white text-center text-lg py-2 opacity-0 transition-opacity duration-300;
}

.card:hover .card-title {
  @apply opacity-100;
}

@media (max-width: 1100px) {
  .cards-container {
    grid-template-columns: repeat(4, 1fr);
  }
  .card-title {
    @apply text-sm;
  }
}

@media (max-width: 950px) {
  .cards-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 700px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (max-width: 600px) {
  .cards-container {
    gap: 5px;
  }
  #gallery-contents{
    @apply mx-0;
  }
  .card-title {
    @apply text-sm;
  }
}

#gallery {
  @apply mx-6;
}

#gallery-title {
  @apply text-center leading-tight text-2xl mb-0 mt-6 pb-2 font-bold flex justify-center flex-wrap max-md:text-2xl text-gray-400 dark:text-gray-500;
}

#gallery-layout{
  @apply -mt-4 max-sm:-mt-5;
}
