.sidebar-container {
  display: flex;
  @apply justify-center w-1/5 max-lg:w-full;
}

.desktop-sidebar {
  @apply flex justify-center p-4 max-lg:p-2 mt-16 max-lg:mt-0 max-md:p-0;
}

.desktop-sidebar ul {
  @apply list-none p-0 flex flex-col max-lg:flex-row gap-6;
}

.desktop-sidebar ul li {
  @apply mb-4 max-lg:mb-0;
}

.desktop-sidebar ul li a {
  @apply text-lg font-medium text-white block px-4 py-2 rounded-lg transition-all duration-300 ease-in-out relative  bg-slate-400 dark:bg-slate-600 max-md:text-sm;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.desktop-sidebar ul li a::after {
  content: "";
  @apply absolute bottom-0 left-0 w-0 h-1 bg-slate-400 dark:bg-orange-500 transition-all duration-300;
}

.desktop-sidebar ul li a:hover {
  @apply bg-orange-400 dark:bg-orange-500 text-white transform scale-105; 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.desktop-sidebar ul li a.active {
  @apply bg-slate-400 dark:bg-slate-600 text-white;
}

.desktop-sidebar .sidebar-list {
  display: flex;            /* 横並び */
  gap: 12px;                /* 必要なら間隔 */
  padding: 0;
  margin: 0;
  list-style: none;
  @apply max-md:gap-1;
}

.desktop-sidebar .sidebar-list li a {
  display: flex;
  align-items: center;       /* 縦方向中央 */
  justify-content: center;   /* 横方向中央 */
  height: 40px;              /* お好みで高さ調整 */
  padding: 0 12px;
  text-decoration: none;
}