.worldmap-container {
  display: flex;
  justify-content: center;
  @apply px-3 py-0 max-md:px-1;
}

.worldmap-container svg path {
  stroke: #1f2937;
  stroke-width: 0.5;
  /* transition: all 0.2s ease; */
  cursor: pointer;
}

.worldmap-container svg path:hover {
  filter: brightness(1.25);
  stroke-width: 0.8;
}

/* .worldmap-tooltip {
  background: rgba(0, 0, 0, 0.75) !important;
  color: #fff !important;
  padding: 6px 10px !important;
  border-radius: 6px !important;
  font-size: 0.8rem !important;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  pointer-events: none;
  transition: opacity 0.15s ease;
} */

