.worldmap-container {
  display: flex;
  justify-content: center;
  @apply px-3 py-0 max-md:px-1;
}

.worldmap-container svg path {
  stroke: #1f2937;
  stroke-width: 0.5;
  /* transition: all 0.2s ease; */
  cursor: pointer;
}

.worldmap-container svg path:hover {
  filter: brightness(1.25);
  stroke-width: 0.8;
}

.japan-map-container {
  display: flex;
  justify-content: center;
  @apply px-3 py-10 max-md:px-1;
}
