@import "./styles/menu.css";
@import "./styles/blogs.css";
@import "./styles/calendar.css";
@import "./styles/contact.css";
@import "./styles/gallery.css";
@import "./styles/markdown.css";
@import "./styles/tags.css";
@import "./styles/zoom.css";
@import "./styles/sidebar.css";
@import "./styles/download.css";
@import "./styles/worldmap.css";

@import 'tailwindcss';

@config '../../tailwind.config.ts';

:root {
    --background: #ffffff;
    --foreground: #171717;
    --inactive-country-color: #e5e7eb;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #151515;
        --foreground: #ededed;
        --inactive-country-color: #bbd3f8;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}


html {
    @apply min-h-full w-full h-full m-0 p-0;
}

body{
    @apply flex flex-col items-center min-h-full h-full;
}

#body-container {
    @apply flex flex-col items-center h-full w-full;
}

#main-contents {
    @apply flex flex-row w-full flex-1 overflow-auto;
}

main {
    @apply w-full pt-6 grow h-full;
}
