@import "./styles/blogs.css";
@import "./styles/contact.css";
@import "./styles/modal.css";
@import "./styles/markdown.css";
@import "./styles/photography.css";
@import "./styles/tags.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #151515;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}


html {
    @apply min-h-full w-full h-full m-0 p-0;
}

body{
    @apply flex flex-col items-center min-h-full;
}

#body-container {
    @apply flex flex-col items-center h-full w-full;
}

#main-contents {
    @apply flex flex-row w-full h-full;
}

main {
    @apply w-full px-6 mt-6 flex-grow;
}
