name: CI
on:
  push:
    branches:
      - main
  pull_request:
    paths-ignore:
      - "/.devcontainer/**"
      - "/amplify/**"
      - ".env"
      - ".gitignore"
      - "**.md"
  workflow_dispatch:
permissions: write-all

jobs:
  npm-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          version: 10
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "22"
          cache: pnpm
      - name: Install Dependencies
        run: pnpm install --frozen-lockfile
      - name: Lint
        run: pnpm run lint
      - name: Build
        run: pnpm run build
